*
{
	margin: 0;
	padding: 0;
}

body
{
	background-image: url("./Images/backg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100%;
}

.container
{
	border: 2px solid #71717171;
	border-radius: 10px;
	background-color: black;
	color: white;
}

.naslov
{
	text-align: center;
}

#naslov
{
	display: inline-block;
	color: lightgreen;
}

.tijelo
{
	text-align: center;
	padding-bottom: 50px;
	margin-left: 5%;
}

.tijelo p
{
	font-size: 25px;
	color: lightgreen;
}


.form input, .form select, .form button
{
	margin-right: 2%;
	margin-bottom: 10px;
	padding: 0 5px;
	border-radius: 5px;
	background-color: #41DAFF;
	height: 2.2em;
}

::placeholder{
	color: black;
}

.form input:hover, .form select:hover, .form button:hover
{
	border: 3px solid lightgreen;
	transition: 0.3s;
}

.film
{
	margin-left: 5%;
	margin-right: 10%;
}

.lijevi img:hover
{
	border: 3px solid lightblue;
	border-radius: 15px;
	padding: 10px;
	transition: 1s;

}

.bez_unosa
{
	color: red;
}

table td
{
	color: white;
}

table tr:hover
{
	background-color: gray;
	color: black;
	
}

.error
{
	color: red;
	transition: 1s;
	font-size: 25px;
	font-style: italic;
	text-transform: uppercase;

}